.container {
    max-width: 400px;
    margin: 50px auto;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
input{
    background-color: #2bbe88;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 18%;
    font-family: "Poppins", sans-serif;
    outline: 10;
}
::placeholder {
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
  }

 button {
    padding: 10px;
    margin: 10px;
    background-color:#1ab339 ;
    border:none;
    border-radius: 45%;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    
}

button {
    cursor: pointer;
}

p {
    font-size: 18px;
    margin-top: 20px;
}
