.video-explicando {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(4, 31, 44);
    border-radius: 30px;
    margin-top: 30px;
}

.paragrafo-explicacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

strong {
    font-size: 50px;
    color: white;
    padding: 20px;
    
}