
button {
  cursor: pointer;
}

.container {
  background-color: #0c121d;
  width: 90%;
  max-width: 800px;

  border: 2px solid #e1e1e6;
  border-radius: 6px;
  padding: 16px;
  box-shadow: 0 0 2px 2px;

  margin-left: 500px;
  margin-top: 100px;
}

h2{
  font-size: 25px;
  width: 1600px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 130px;
  margin-top: 50px;
}

.start-quiz{
  margin-left: 275px;
  box-shadow: 0 0 2px 2px;
}

.questions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.question {
  color: white;
  font-size: 30px;
  text-align: center;
  justify-content: center;
}

.answers-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.answer:disabled {
  cursor: not-allowed;
}

.next-question {
  margin-top: 32px;
}

.button {
  background-color: #0f0d50;
  color: #fff;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  height: 48px;
  padding: 0 32px;

  transition: filter 0.1s;
}

.button:not(:disabled):hover {
  filter: brightness(0.8);
}

/* Finish game */
.final-message {
  font-size: 20px;
  text-align: center;
}

.final-message span {
  display: block;
  margin-top: 8px;
}

/* General styles */
.hide {
  display: none;
}

.answers-container .correct {
  color: green;
}

.answers-container .incorrect {
  color: red;
}